{
  "parser": "babel-eslint",
  "ecmaFeatures": {
      "jsx": true,
      "modules": true
  },
  "rules": {
    "strict": [2, "never"],
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/react-in-jsx-scope": 2,
    "react/jsx-boolean-value": 1,
    "react/jsx-no-undef": 1,
    "no-underscore-dangle": 0,
    "no-loop-func": 0,
    "no-extra-bind": 0,
    "new-cap": 0,
    "eqeqeq": 2,
    "curly": 0,
    "new-parens": 0,
    "camelcase": 1,
    "no-shadow": 0,
    "no-unused-vars": 0
  },
  "env": {
    // I write for browser
    "browser": true,
    // in CommonJS
    "node": true
  },
  "plugins": [
    "react"
  ]
}
